# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

resources:
  containers:
  #- container: my_container
  #  image: buildpack-deps:focal
  - container: nginx
    image: nginx


pool:
  vmImage: 'ubuntu-20.04'

#container: my_container
#services:
#  nginx: nginx

steps:
- script: |
    curl localhost:80
  displayName: Show that nginx is running
