# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

resources:
  containers:
  - container: my_container
    image: ubuntu:latest
#  - container: nginx
#    image: nginx
#  - container: redis
#    image: redis

pool:
  vmImage: 'ubuntu-latest'

container: my_container

#services:
  #nginx: nginx
 # redis: redis




steps:
#- script: |
    #apt install -y curl
    #curl nginx
    ##apt install -y redis-tools
    #redis-cli -h redis ping

- script: |
    sudo apt-get update
    sudo apt-get install libgtk2.0-0
    sudo apt-get install libgtk-3-0
  displayName: 'Dep install'